CONFIG_DEFAULT_DEVICE_TREE="tegra30-pegatron-chagall"
CONFIG_SYS_PROMPT="Tegra30 (Chagall) # "
CONFIG_BOOTCOMMAND="setenv skip_boot 0; setenv gpio_button 129; if run check_button; then bootmenu; fi; if test ${skip_boot} -eq 1; then; else run bootcmd_usb0; run bootcmd_mmc1; run bootcmd_mmc0; poweroff; fi"
CONFIG_USB_GADGET_MANUFACTURER="Pegatron"
CONFIG_USB_GADGET_PRODUCT_NUM=0x4d00
